* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;

}

.page {
    background: #108dc7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef8e38, #108dc7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef8e38, #108dc7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
}

#map {
    height: 924px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}